<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.happyheal.happyhealapp"
          android:versionCode="1"
          android:versionName="1.0.0">

    <uses-sdk
            android:minSdkVersion="15"
            android:targetSdkVersion="23"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:largeHeap="true"
            android:launchMode="singleTask"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme"
            android:name=".app.HappyHealApp">

        <activity
                android:name=".ui.main.MainActivity"
                android:label="@string/app_name">
        </activity>

        <activity android:name=".ui.wizard.WizardActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.previews.PreviewsActivity"
                  android:parentActivityName=".ui.main.MainActivity"
                  android:label="Previews">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.main.MainActivity"/>
        </activity>

        <activity android:name=".ui.otp.OTPActivity"
                  android:label="OTP"
                  android:parentActivityName=".ui.previews.PreviewsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.previews.PreviewsActivity"/>
        </activity>

        <activity android:name=".SampleActivity" android:label="Sample"/>

        <service android:name=".service.SyncService"></service>

        <receiver android:name=".receiver.BootReceiver"></receiver>
    </application>

</manifest>
